@import 'variables';
@import 'mixins';

.root {
    max-height: 5.8rem;
    overflow: hidden;
    position: relative;

    &Open {
        max-height: none;
    }
}

.control {
    @include posabs((top: 0, left: 0));
    background-color: transparent;
    border: 0;
    color: transparent;
    cursor: pointer;
    height: 5.8rem;
    user-select: none;
    width: 100%;

    &:focus {
        outline: none;
    }

    @include break(tablet) {
        display: none;
    }
}

.list {
    background-color: $clr-white;
    display: flex;
    flex-direction: column;

    @include break(tablet) {
        flex-direction: row;
    }
}

.item {
    @include break(tablet) {
        margin-left: 2rem;
    }

    &Active {
        order: -1;
    }

    @include break(tablet) {
        order: 0;
    }
}
