@import 'variables';
@import 'mixins';

.root {
    background-color: $clr-white;
    border: border();
    border-radius: .5rem;
    box-shadow: 0 .3rem .6rem rgba($clr-dark, .02);
    height: 100%;
    margin: 0 0 1.5rem;
    padding: 1.5rem 1.5rem 0;
    position: relative;

    &:last-of-type {
        margin: 0;
    }

    @include break(tablet) {
        margin: 0 0 3rem;
        padding: 3rem 3rem 0;
    }
}
