@import 'variables';
@import 'mixins';

.root {
    background-color: $clr-white;
    border: border($clr-primary);
    padding: 1rem;
    position: relative;
}

.title {
    margin-bottom: 1rem;
}

.titleText {
    @include font-size(med);
    font-weight: $bold-fontweight;
    line-height: 3rem;
    position: relative;
    text-align: center;
}

.actions {
    @include posabs((top: 1rem, left: 1rem, right: 1rem));
    display: flex;
    justify-content: space-between;
}

.button {
    @include empty-button;
    @include font-size(xxlrg);
    line-height: 3rem;
    margin-top: -.5rem;
}
