@import 'variables';
@import 'mixins';

.root {
    background-color: $clr-white;
    border: border();
    display: block;
    line-height: 3.5rem;
    padding: 0 1.5rem;
    position: relative;
    text-align: center;

    &Current {
        background-color: $clr-dark;
        border-color: $clr-dark;
        color: $clr-white;

        &:hover {
            color: $clr-white;
        }
    }
}

.ellipsis {
    @include hide-text;
    display: block;
    height: 100%;
    position: relative;
    width: 2rem;

    &::after {
        @include posabs((top: 50%, right: 0, left: 0));
        border-top: border();
        content: '';
    }
}
