@import 'variables';
@import 'mixins';

.root {
    align-items: center;
    background-color: $clr-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    z-index: 20;
}

.form {
    width: 30rem;
}

.logo {
    display: block;
    margin: 0 auto 3rem;
}

.actions {
    border-top: 1px $clr-grey-light solid;
    margin-top: 3rem;
    padding-top: 3rem;
}

.error {
    background-color: $clr-error;
    color: $clr-white;
    margin-bottom: 3rem;
    padding: .8rem 1rem;
}
