@import 'variables';
@import 'mixins';

.root {
    border-top: border();
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &HasHead {
        border-top: 0;
    }

    &Disabled {
        opacity: .3;
        pointer-events: none;
    }
}
