@import 'variables';
@import 'mixins';

.root {
    position: relative;
    transition: opacity .3s;

    &Disabled {
        opacity: .3;
        pointer-events: none;
    }
}

.clear {
    @include font-size(xxlrg);
    @include posabs((right: 1rem, top: 0));
    background-color: transparent;
    border: 0;
    color: $clr-primary;
    cursor: pointer;
    line-height: 4rem;

    &:focus {
        outline: none;
    }
}
