@import 'variables';
@import 'mixins';

.root {
    overflow: hidden;
    position: relative;
    transition: opacity .3s;

    &Open {
        overflow: visible;
    }

    &Disabled {
        opacity: .3;
        pointer-events: none;
    }
}
