@import 'variables';
@import 'mixins';

.root {
    @include posfix((top: 3rem, right: 3rem));
    align-items: center;
    display: flex;
    z-index: 4;

    > * {
        margin-left: 1rem;
    }
}
