@import 'variables';
@import 'mixins';

.root {
    @include font-size(lrg);
    border-bottom: 1px #f0f0f0 solid;
    float: left; // Get it to be inside the fieldset properly
    margin: -1rem -1.5rem 1.5rem;
    padding: 0 1.5rem 2rem;
    width: calc(100% + 3rem);

    @include break(tablet) {
        @include font-size(xlrg);
        margin: -1rem -3rem 3rem;
        padding: 0 3rem 2rem;
        width: calc(100% + 6rem);
    }
}
