@import 'variables';
@import 'mixins';

.root {
    padding: 1rem;

    &Checkbox {
        width: 1%;
    }

    &Actions {
        text-align: right;

        > * {
            margin-left: .5rem;
        }
    }

    &Right {
        text-align: right;
    }

    &Success {
        color: $clr-success;
    }

    &Error {
        color: $clr-error;
    }
}

.extra {
    @include font-size(sml);
    color: $clr-grey-dark;
}

.actions {
    text-align: right;

    > * {
        margin-left: 1rem;
        padding-left: 1.4rem;
        position: relative;

        &::before {
            @include posabs((left: 0, top: .55em));
            background-color: $clr-grey;
            border-radius: 50%;
            content: '';
            height: .4rem;
            width: .4rem;
        }

        &:first-child {
            margin-left: 0;
            padding-left: 0;

            &::before {
                content: none;
            }
        }
    }
}
