@import 'variables';
@import 'mixins';

.root {
    @include posfix((bottom: 2rem, left: 8rem));
    color: rgba($clr-white, .2);
    width: 4rem;
    z-index: 6;
}

.title {
    @include font-size(med);
    border: border($clr-white, .2rem);
    border-radius: 50%;
    color: $clr-white;
    cursor: pointer;
    font-weight: $bold-fontweight;
    height: 4rem;
    letter-spacing: .2rem;
    line-height: 3.6rem;
    margin: 0 auto;
    padding-left: .2rem;
    text-align: center;
    width: 4rem;
}

.control {
    @include posabs((left: 0, bottom: 0));
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 4rem;
    overflow: hidden;
    text-indent: 4rem;
    width: 4rem;

    &:focus {
        outline: none;
    }
}

.panel {
    @include posabs((bottom: 6rem, left: -7rem));
    background-color: $clr-white;
    border-radius: .5rem;
    box-shadow: 0 4px 4px rgba($clr-black, .05), 0 16px 16px rgba($clr-black, .05);
    opacity: 0;
    padding: .8rem 1.5rem;
    pointer-events: none;
    transform: translate3d(0, 1rem, 0);
    transition: transform .1s $easing, opacity .1s $easing;
    width: 18rem;

    &::after {
        @include posabs((left: calc(50% - .8rem), top: 100%));
        border: .8rem solid;
        border-color: $clr-white transparent transparent transparent;
        content: '';
    }

    &Open {
        opacity: 1;
        pointer-events: all;
        transform: translate3d(0, 0, 0);
    }
}

.link {
    display: block;
    padding: .8rem 0;
    width: 100%;
}

button.link {
    background-color: transparent;
    border: 0;
    color: $clr-primary;
    cursor: pointer;
    font-family: $fontfamily;
    text-align: left;
}
