@import 'variables';
@import 'mixins';

.root {
    @include posfix((bottom: 0, left: 0));
    color: rgba($clr-white, .2);
    padding: 2rem;
    width: 20rem;
    z-index: 6;
}

.title {
    @include font-size(med);
    border: border($clr-white, .2rem);
    border-radius: 50%;
    color: $clr-white;
    cursor: pointer;
    font-weight: $bold-fontweight;
    height: 4rem;
    letter-spacing: .2rem;
    line-height: 3.6rem;
    margin: 0 auto;
    padding-left: .2rem;
    text-align: center;
    width: 4rem;
}

.panel {
    @include posabs((right: 1rem, bottom: 100%, left: 1rem));
    background-color: $clr-white;
    border-radius: .5rem;
    opacity: 0;
    padding: .2rem 0;
    pointer-events: none;
    transform: translate3d(0, 1rem, 0);
    transition: transform .1s $easing, opacity .1s $easing;

    &::after {
        @include posabs((left: calc(50% - .8rem), top: 100%));
        border: .8rem solid;
        border-color: $clr-white transparent transparent transparent;
        content: '';
    }

    &Open {
        opacity: 1;
        pointer-events: all;
        transform: translate3d(0, 0, 0);
    }

    &Item {
        // border-bottom: border();
        padding: .8rem 1rem;
    }
}
