@import 'variables';
@import 'mixins';

.root {
    color: rgba($clr-grey-dark, .8);
    display: block;
    font-weight: $bold-fontweight;
    margin-bottom: .7rem;
    margin-top: -.3rem;

    &Reverse {
        color: $clr-white;
    }

    &IsDesc {
        @include font-size(sml);
        color: rgba($clr-grey-dark, .6);
        font-style: italic;
        margin-top: -.5rem;
    }
}
