@import 'variables';
@import 'mixins';

.root {
    color: $clr-dark;
    display: block;
    margin-bottom: .7rem;
    margin-top: -.3rem;

    &Reverse {
        color: $clr-white;
    }

    &IsDesc {
        @include font-size(xsml);
        color: $clr-grey-dark;
        margin-top: -.5rem;
    }
}
