@import 'variables';
@import 'mixins';

.root {
    background-color: $clr-grey-xxlight;

    td {
        border-bottom: border();
    }

    &Odd {
        background-color: $clr-white;
    }

    &Disabled {
        opacity: .3;
        pointer-events: none;
    }

    &Selectable {
        cursor: pointer;
    }

    &Selected {
        background-color: rgba($clr-primary, .1);
    }
}
