@import 'variables';
@import 'mixins';

.root {
    display: flex;
    margin-bottom: 1.5rem;

    & > :not(:last-child) {
        margin-right: 1rem;
    }

    @include break(tablet) {
        margin-bottom: 3rem;
    }
}

.cta {
    align-items: center;
    color: $clr-grey-dark;
    display: flex;
    flex-grow: 1;

    & > :not(:last-child) {
        margin-right: 1rem;
    }
}

.total {
    margin-left: auto;
}

.search {
    display: flex;
    width: 35rem;

    & > :not(:last-child) {
        margin-right: 1rem;
    }
}
