@import 'variables';
@import 'mixins';

.root {
    display: none;

    @include break(tablet) {
        @include posfix((top: 0, bottom: 0, left: 20rem));
        background-color: $clr-white;
        border-right: border();
        display: block;
        padding-top: 10rem;
        transform: translate3d(-100%, 0, 0);
        transition: transform .3s $easing;
        width: 30rem;
        z-index: 3;

        &IsOpen {
            transform: translate3d(0, 0, 0);
        }
    }
}

.close {
    @include posabs((top: 0, right: -100vw, bottom: 0, left: 100%));
    opacity: 0;
    pointer-events: none;

    &IsOpen {
        opacity: 1;
        pointer-events: all;
    }
}
