@import 'variables';
@import 'mixins';

.root {
    @include posfix((left: 0, top: 0));
    width: 20rem;
    z-index: 5;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    @include break(tablet) {
        height: 10rem;
        padding: 0 4rem .5rem 2rem;
    }
}

.img {
    height: 2rem;
    width: auto;

    @include break(tablet) {
        height: auto;
        width: 100%;
    }
}
