@import 'variables';
@import 'mixins';

.root {
    @include font-size(med);
    background-color: $clr-grey-light;
    border: border();
    color: $clr-text;
    font-family: $fontfamily;
    height: 4rem;
    line-height: 3.8rem;
    padding: 0 1.2rem;
    transition: border-color .2s;
    width: 100%;

    @if mixin-exists(textinput) {
        @include textinput;
    }

    &:focus {
        border-color: $clr-primary;
        outline: none;
    }

    &Error {
        border-color: $clr-error;
    }

    &[readOnly] {
        background-color: $clr-grey-xlight;
        cursor: default;
    }

    &[readOnly]:focus {
        border-color: $clr-grey;
    }
}

textarea.root {
    height: auto;
    line-height: 1.45;
    min-height: 8rem;
    padding: 1rem 1.2rem;
    resize: vertical;
}
