@import 'variables';
@import 'mixins';

.root {
    background-color: $clr-white;
    border: border();
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.title {
    @include font-size(lrg);
    line-height: 1.2;

    @include break(tablet) {
        @include font-size(xlrg);

        &IsSmall {
            @include font-size(lrg);
            font-weight: $body-fontweight;
        }
    }

    &Link {
        color: $clr-primary;
        cursor: pointer;
    }
}

.subtitle {
    margin-top: .5rem;
    white-space: pre-line;
}

.meta {
    @include font-size(sml);
    border-top: border();
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;

    @include break(tablet) {
        @include font-size(med);
        margin-top: 2rem;
        padding-top: 2rem;
    }
}

.secondary {
    text-align: right;
}

.footer {
    border-top: border();
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: right;

    > * {
        margin-left: 1rem;
        padding-left: 1.4rem;
        position: relative;

        &::before {
            @include posabs((left: 0, top: .55em));
            background-color: $clr-grey;
            border-radius: 50%;
            content: '';
            height: .4rem;
            width: .4rem;
        }

        &:first-child {
            margin-left: 0;
            padding-left: 0;

            &::before {
                content: none;
            }
        }
    }
}
