@import 'variables';
@import 'mixins';

.root {
    padding-bottom: 4rem;

    @include break(tablet) {
        margin-left: 20rem;
    }
}

.header {
    background-color: $clr-white;
    border-bottom: border();
    box-shadow: 0 .5rem .5rem rgba($clr-black, .02);
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: center;
    padding: 0 1.5rem;
    z-index: 2;

    @include break(tablet) {
        height: 10rem;
        padding: 0 3rem;
    }
}

.title {
    @include font-size(lrg);
    color: rgba($clr-grey-dark, .7);
    font-weight: $bold-fontweight;
    //@include title;

    @include break(tablet) {
        @include font-size(xxlrg);
    }
}

.subtitle {
    @include font-size(sml);

    @include break(tablet) {
        @include font-size(med);
    }
}

.content {
    border-top: border();
    padding: 1.5rem;

    @include break(tablet) {
        padding: 3rem;
    }
}
