@import 'variables';
@import 'mixins';

.root {
    margin-left: 20rem;
    padding-bottom: 4rem;
}

.header {
    background-color: $clr-white;
    border-bottom: border();
    box-shadow: 0 .5rem .5rem rgba($clr-black, .02);
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    padding: 0 3rem;
    z-index: 2;
}

.title {
    @include title;
}

.content {
    border-top: border();
    padding: 3rem;
}
