@import 'variables';
@import 'mixins';

.root {
    padding-bottom: 4rem;

    @include break(tablet) {
        margin-left: 20rem;
    }
}

.header {
    background-color: $clr-white;
    border-bottom: border();
    box-shadow: 0 .5rem .5rem rgba($clr-black, .02);
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: center;
    padding: 0 1.5rem;
    z-index: 2;

    @include break(tablet) {
        height: 10rem;
        padding: 0 3rem;
    }
}

.title {
    @include font-size(xlrg);
    font-weight: $light-fontweight;
    letter-spacing: .2em;
    text-transform: uppercase;

    @include break(tablet) {
        @include font-size(xxlrg);
    }
}

.content {
    border-top: border();
    padding: 1.5rem;

    @include break(tablet) {
        padding: 3rem;
    }
}
