@import 'variables';
@import 'mixins';

.root {
    flex: 1;
    padding-left: 3rem;
}

.inner {
    background-color: $clr-white;
    border: border();
    padding: 1rem 1.5rem;

    &IsHighlighted {
        background-color: $clr-secondary;
        color: $clr-white;
    }
}

.term {
    color: $clr-grey-dark;
    padding-bottom: .2rem;

    .innerIsHighlighted & {
        color: $clr-white;
    }
}

.def {
    &IsDisabled {
        color: $clr-grey-light;
    }
    &IsLarge {
        @include font-size(4xlrg);
        font-weight: $light-fontweight;
        line-height: 1;
    }
}
