@import 'variables';
@import 'mixins';

.root {
    flex: 1;
    margin-bottom: 1rem;

    @include break(tablet) {
        margin-bottom: 0;
        padding-left: 3rem;
    }
}

.inner {
    background-color: $clr-white;
    border: border();
    border-radius: .5rem;
    padding: 1rem 1.5rem;

    &IsHighlighted {
        background-color: $clr-secondary;
        color: $clr-white;
    }
}

.term {
    border-bottom: border();
    color: $clr-grey-dark;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    .innerIsHighlighted & {
        color: $clr-white;
    }
}

.def {
    &IsDisabled {
        color: $clr-grey-light;
    }
    &IsLarge {
        @include font-size(4xlrg);
        font-weight: $light-fontweight;
        line-height: 1;
    }
}

.value {
    display: flex;

    &Text {
        flex-grow: 1;
    }
}
