@import 'variables';
@import 'mixins';

.root {
    flex: 1;
    padding-left: 3rem;
}

.inner {
    padding: 1rem 1.5rem;

    @if mixin-exists(summarylistitem) {
        @include summarylistitem;
    }
    @else {
        background-color: $clr-white;
        border: border();
    }
}

.term {
    color: $clr-grey-dark;
    padding-bottom: .2rem;
}

.def {
    &IsDisabled {
        color: $clr-grey-light;
    }
    &IsLarge {
        @include font-size(4xlrg);
        font-weight: $light-fontweight;
        line-height: 1;
    }
}
